/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Rowdies&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Redressed', cursive;
    color:#000;


}

/*header and logo styling*/

h1, h2 {
    font-family: 'Redressed', cursive;
    letter-spacing: 5px;
}

#header-1 {
    float: left;
    font-size: 250%;
}

/* Navigation links*/

#menu, #header1 {
    line-height: 75px;
}

#menu {
    font-size: 120%;
    letter-spacing: 5px;
    float:right
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 2px solid #000;
}

.on-page {
    border-bottom: 2px solid #000;
}





    

    

    
    






    
    
   


